<div class="list"> 
    <ul class="list-cards">
        <li class="card" *ngFor="let card of cards">
            {{card.name}}
           <app-cards>[cards]="cards"</app-cards> 
        </li>
    </ul> 
</div>
<div class="add-card-input">
        <label for="cardName"></label>
        <input class='input' onfocus="if(this.value == 'value') { this.value = ''; }" value="item"
            #cardName
            (keyup.enter)="addCard(cardName.value)" placeholder="item">
        <button type="text" class="bnt" (click)="addCard(cardName.value)">
            Add Item
        </button>
</div>