.list-cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
} 
    
    
.card {
    list-style-type: none;
    border: 1px solid black;
    border-radius: 5px;
    min-width: 80px;
    min-height: 20px;
    background-color: lightsteelblue;
    text-align: center;
    padding: auto;

}